<header><%- include("partials/header.ejs") %></header>
<body class="post-body">

<div class="post-body-div">
    <% if (locals.posting) { %>
        <div class="post-form">
            <form action="/post" method="post">
                <input class="txt" type="text" name="title" placeholder="Enter Title..."><br>
                <textarea class="txt" name="content" placeholder="Enter Content..."></textarea><br>
                <input class="txt" type="text" name="author" placeholder="Enter Author..."><br>
                <input type="submit" value="Post" class="post-btn btn">
            </form>
        </div>
    <% } %>
    <div>
        <% if (locals.success) { %>
            <p><%= message %></p>
            <a href="/"><button class="return-btn btn">Back to Homepage</button></a>
        <% } %>
        <% if (locals.failure) { %>
            <div class="negative">
                <p><%= error %></p>
                <a href="/"><button class="return-btn btn">Back to Homepage</button></a>
            </div>
        <% } %>
    </div>
</div>
</body>